header {
    position: absolute;
    top: 3%; left: 0%;
    width: 100%;
    border-bottom: 2px solid aqua;
    z-index: 1;
    a {
        position: relative;
        left: 37%; top: 0px;
        margin: 10px 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        color: rgb(0, 238, 255);
        text-decoration: none;
        transition: background-size 0.25s ease-in;
        background-image: linear-gradient(100deg, #0043fd 0%, #1283b0 100%);
        background-repeat: no-repeat;
        background-size: 100% 0;
        background-position: 0 100%;
        &:hover {
            text-shadow: 0 0 10px rgba(0, 255, 238, 0.8), 0 0 20px rgba(0, 255, 238, 0.6);
            color: rgb(0, 221, 255);
        }
        .active {
            color: blue;
            text-decoration: underline;
        }
    }
}