<div class="box">
    <h1>Vous découvrirez dans cette partie certains projets<br> que j'ai réalisé à EPITECH, ainsi que des projets de mon stage.</h1>
</div>
<div class="epitech">
    <h1>PROJETS À EPITECH</h1>
    <div class="project" *ngFor="let projet of projects">
        <h2>{{projet.title}}</h2>
        <p>{{projet.description}}</p>
        <a [href]="projet.link">Lien GitHub</a>
    </div>
</div>
<div class="stage">
    <h1>STAGE</h1>
    <div class="project">
        <h2>Archik Intérieur</h2>
        <p>Archik Intérieur est un site que j'ai fait pour une cliente lors de mon stage.
            Ce fut le premier projet que j'ai dû réalisé lors de ce stage. Je vous laisse aller le voir par vous-même.
        </p>
        <a href="#">GO TESTEZ !</a>
    </div>
    <div class="project">
        <h2>HDM-Gather</h2>
        <p>HDM-Gather est un projet auquel j'ai pu participé qui reprend à peu près le même système que Gather.
            Ce projet avait pour but de mieux faire des appels-visio sans pouvoir payer d'abonnements et mieux faire des appels-visio.
        </p>
    </div>
    <div class="project">
        <h2>QUI VEUT GAGNER LE JACKPOT ?</h2>
        <p>"QUI VEUT GAGNER LE JACKPOT ?" est un mini-jeu que j'ai réalisé en Angular durant le dernier mois de mon stage. Ce jeu reprend une machine à sous que l'on peut voir dans les casinos.
            Je vous laisse aller testez par vous-même.
        </p>
        <a href="#">GO TESTEZ !</a>
    </div>
</div>
<div class="projets-personnels">
    <p>VOULEZ-VOUS VOIR D'AVANTAGES ? <br>ALLEZ VOIR <a href="#" routerLink="/projets-personnels">MES PROJETS PERSONNELS</a></p>
</div>
