<div class="content">
    <h1>
        {{languageService.translate('parcours.heroTitle')}}
    </h1>
    <p>
        {{languageService.translate('parcours.heroDescription')}}
    </p>
</div>
<div class="introduction">
    <h2>{{languageService.translate('parcours.introductionTitle')}}</h2>
    <p>
        {{languageService.translate('parcours.introductionText')}}
    </p>
</div>
<div class="epitech">
    <div class="first-year">
        <img src="./assets/First_year_image.jpg" alt="First Year Image">
        <h2>{{languageService.translate('parcours.firstYear.title')}}</h2>
        <p>
            {{languageService.translate('parcours.firstYear.text')}}
        </p>
    </div>
    <div class="second-first-year">
        <img src="./assets/Redoublement_Image.jpg" alt="Redoublement Image">
        <h2>{{languageService.translate('parcours.redoublement.title')}}</h2>
        <p>
            {{languageService.translate('parcours.redoublement.text')}}
        </p>
    </div>
    <div class="second-year">
        <img src="./assets/Second_Year_Image.jpg" alt="Second Year Image">
        <h2>{{languageService.translate('parcours.secondYear.title')}}</h2>
        <p>
            {{languageService.translate('parcours.secondYear.text')}}
        </p>
    </div>
    <div class="third-year">
        <img src="./assets/Third_Year_Image.jpg" alt="Third Year Image">
        <h2>{{languageService.translate('parcours.thirdYear.title')}}</h2>
        <p>
            {{languageService.translate('parcours.thirdYear.text')}}
        </p>
    </div>
</div>
<div class="contrat">
    <img src="./assets/Contrat_image.jpg" alt="Contrat Image">
    <h2>{{languageService.translate('parcours.contract.title')}}</h2>
    <p>
        {{languageService.translate('parcours.contract.text')}}
    </p>
</div>