<div class="box">
    <h2>Vous découvrirez dans cette partie certains projets<br> que j'ai réalisé à EPITECH, ainsi que des projets de mon stage.</h2>
</div>
<div class="epitech">
    <h2>PROJETS À EPITECH</h2>
    <p>Dans cette partie, vous verrez des projets que j'ai réalisé durant mes 4 années à EPITECH.
        Vous verrez ci-dessous certains projets dont j'ai réalisé, si vous en voulez voir davantages
        n'hésitez pas à me contacter par mail.
    </p>
    <div class="project" *ngFor="let projet of epitechProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                (click)="openFullscreen(projet)"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{projet.title}}</h2>
            <p>{{projet.description}}</p>
            <a [href]="projet.link">Lien GitHub</a>
        </div>
    </div>
</div>
<div class="stage">
    <h2>STAGE</h2>
    <p>Durant mes années à EPITECH, j'ai réalisé des stages qui ont duré 4 à 5 mois.
        Vous verrez ci-dessous certains des projets que j'ai réalisé durant mon stage.
    </p>
    <div class="project" *ngFor="let projet of stageProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{projet.title}}</h2>
            <p>{{projet.description}}</p>
            <a [href]="projet.link">Lien GitHub</a>
        </div>
    </div>
</div>
<div class="webcup">
    <h2>WEBCUP</h2>
    <p>J'ai particpé à un événement qui a lieu chaque année qui se nomme, WebCup.
        C'est un événement qui a pour but de faire un site web en 24 heures sur un thème donné.
        Vous verrez ci-dessous les sites que j'ai fait durant cette événement, j'ai participé à celui de 2024 et 2025.
    </p>
    <div class="project" *ngFor="let projet of webcupProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{projet.title}}</h2>
            <p>{{projet.description}}</p>
            <a [href]="projet.link">Lien GitHub</a>
        </div>
    </div>
</div>
<div class="fullscreen-overlay" *ngIf="fullscreenProject as project">
  <button class="close-btn" (click)="closeFullscreen()">✕</button>

  <div class="fullscreen-content"
       (touchstart)="onTouchStart($event)"
       (touchend)="onTouchEnd($event, project)">

    <button *ngIf="!isMobileOrTablet"
            class="nav-btn left"
            (click)="prevImage(project)">
      ‹
    </button>

    <img
      [src]="project.images[currentImageIndex[project.id]]"
      [alt]="project.title"
      [class.slide-left]="slideDirection[project.id] === 'left'"
      [class.slide-right]="slideDirection[project.id] === 'right'"
    />

    <button *ngIf="!isMobileOrTablet"
            class="nav-btn right"
            (click)="nextImage(project)">
      ›
    </button>
  </div>
</div>

