.professionel {
    background-image: url('../../assets/code.jpg');
    position: relative;
    top: 62px; width: 100%;
    left: 0%;
    height: 800px;
    border: 3px solid aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.professionel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.professionel h1 {
    position: relative;
    top: 35%;
    z-index: 1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: aqua;
}

.professionel:hover::after {
    background: rgba(0, 0, 0, 0);
}

.professionel:hover h1 {
    color: rgb(21, 187, 187);
    text-shadow: 0 0 10px rgba(0, 255, 238, 0.8), 0 0 20px rgba(0, 255, 238, 0.6);
    font-size: 80px;
    position: relative;
    top: 32%;
}

.personnels {
    background-image: url('../../assets/5.png');
    position: relative;
    top: 62px; width: 100%;
    left: 0%;
    height: 800px;
    border: 3px solid aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.personnels::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.personnels h1 {
    position: relative;
    top: 35%;
    z-index: 1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: aqua;
}

.personnels:hover::after {
    background: rgba(0, 0, 0, 0);
}


.personnels:hover h1 {
    color: rgb(21, 187, 187);
    text-shadow: 0 0 10px rgba(0, 255, 238, 0.8), 0 0 20px rgba(0, 255, 238, 0.6);
    font-size: 80px;
    position: relative;
    top: 32%;
}