<div class="box">
    <h2>{{translate.translate('projects.intro')}}</h2>
</div>
<div class="epitech">
    <h2>{{translate.translate('projects.epitechTitle')}}</h2>
    <p>
        {{translate.translate('projects.epitechDescription')}}
    </p>
    <div class="project" *ngFor="let projet of epitechProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                (click)="openFullscreen(projet)"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{translate.translate(projet.title)}}</h2>
            <p>{{translate.translate(projet.description)}}</p>
            <a [href]="projet.link">{{translate.translate('projects.githubLink')}}</a>
        </div>
    </div>
</div>
<div class="stage">
    <h2>{{translate.translate('projects.stageTitle')}}</h2>
    <p>{{translate.translate('projects.stageDescription')}}</p>
    <div class="project" *ngFor="let projet of stageProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{translate.translate(projet.title)}}</h2>
            <p>{{translate.translate(projet.description)}}</p>
            <a [href]="projet.link">{{translate.translate('projects.githubLink')}}</a>
        </div>
    </div>
</div>
<div class="webcup">
    <h2>{{translate.translate('projects.webcupTitle')}}</h2>
    <p>
        {{translate.translate('projects.webcupDescription')}}
    </p>
    <div class="project" *ngFor="let projet of webcupProjects">
        <div class="project-images"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event, projet)">

            <button *ngIf="!isMobileOrTablet" (click)="prevImage(projet)">‹</button>

            <img
                [src]="projet.images[currentImageIndex[projet.id]]"
                [alt]="projet.title"
                [class.slide-left]="slideDirection[projet.id] === 'left'"
                [class.slide-right]="slideDirection[projet.id] === 'right'"
            />

            <button *ngIf="!isMobileOrTablet" (click)="nextImage(projet)">›</button>
        </div>

        <div class="project-content">
            <h2>{{translate.translate(projet.title)}}</h2>
            <p>{{translate.translate(projet.description)}}</p>
            <a [href]="projet.link">{{translate.translate('projects.githubLink')}}</a>
        </div>
    </div>
</div>
<div class="fullscreen-overlay" *ngIf="fullscreenProject as project">
  <button class="close-btn" (click)="closeFullscreen()">✕</button>

  <div class="fullscreen-content"
       (touchstart)="onTouchStart($event)"
       (touchend)="onTouchEnd($event, project)">

    <button *ngIf="!isMobileOrTablet"
            class="nav-btn left"
            (click)="prevImage(project)">
      ‹
    </button>

    <img
      [src]="project.images[currentImageIndex[project.id]]"
      [alt]="project.title"
      [class.slide-left]="slideDirection[project.id] === 'left'"
      [class.slide-right]="slideDirection[project.id] === 'right'"
    />

    <button *ngIf="!isMobileOrTablet"
            class="nav-btn right"
            (click)="nextImage(project)">
      ›
    </button>
  </div>
</div>

