.content-contact {
    overflow: hidden;
    position: relative;
    top: 270px;
    .title {
        box-shadow: 0 0 20px rgba(0, 255, 238, 0.5);
        position: absolute;
        left: 25%; top: 20px;
        width: 25%; height: 700px;
        background-color: rgb(13, 13, 88);
        border-radius: 2px;
        border-top: 2px solid aqua;
        border-left: 2px solid aqua;
        border-bottom: 2px solid aqua;
        h1 {
            position: relative;
            top: 100px; left: 20%;
            text-shadow: rgb(0, 255, 238) 1px 0 20px;
            -webkit-text-stroke: 1px rgb(0, 255, 234);
            color: rgb(3, 249, 249);
            font-size: 50px;
            font-family:'Times New Roman', Times, serif;
        }
    }
    .contact {
        position: relative;
        top: 20px;
        left: 50%;
        width: 42%;
        height: 375px;
        background-color: rgb(33, 52, 199);
        box-shadow: 0 0 20px rgba(0, 255, 238, 0.5);
        .mail {
            position: relative;
            left: 5%;
            top: 6%;
            img {
                position: relative;
                width: 7%;
                top: 20px;
            }
            a {
                font-size: 35px;
                position: relative;
                left: 2%;
                color: rgb(3, 249, 249);
                text-shadow: rgb(0, 255, 238) 1px 0 20px;
                text-decoration: none;
            }
        }
        .linkedin {
            position: relative;
            left: 6%;
            top: 20%;
            img {
                position: relative;
                width: 6%;
                top: 8px;
            }
            a {
                text-decoration: none;
                font-size: 35px;
                position: relative;
                left: 2%;
                color: rgb(3, 249, 249);
                text-shadow: rgb(0, 255, 238) 1px 0 20px;
            }
        }
        .github {
            position: relative;
            left: 5%;
            top: 27%;
            img {
                position: relative;
                width: 8%;
                top: 22px;
            }
            a {
                text-decoration: none;
                font-size: 35px;
                position: relative;
                left: 2%;
                color: rgb(3, 249, 249);
                text-shadow: rgb(0, 255, 238) 1px 0 20px;
            }
        }
    }
}