<div class="content-contact">
    <div class="title">
        <h1>CONTACT</h1>
    </div>
    <div class="contact">
        <div class="mail">
            <img src="../../assets/mail_icon.png" alt="Mail_icon">
            <a href="mailto:lallemandguillaume55&#64;gmail.com" >lallemandguillaume55&#64;gmail.com</a>
        </div>
        <div class="linkedin">
            <img src="../../assets/LinkedIn_Logo.png" alt="LinkedIn Logo">
            <a href="www.linkedin.com/in/guillaume-lallemand-695a0b3a8">Guillaume Lallemand</a>
        </div>
        <div class="github">
            <img src="../../assets/GitHub_Logo.png" alt="GitHub Logo">
            <a href="https://github.com/darkred974">darkred974</a>
        </div>
    </div>
</div>
