body {
    background: linear-gradient(135deg, rgb(3, 15, 55), rgb(0, 36, 84), rgb(0, 89, 255), rgb(3, 249, 249));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

