<div class="content">
    <h1 class="cursor typewriter-animation">{{ languageService.translate('home.title') }}</h1>
    <p>{{ languageService.translate('home.intro') }}</p>
</div>
<div class="presentation">
    <img src="./assets/Profile_picture.jpg" alt="Profile picture">
    <h2>{{ languageService.translate('home.about_title') }}</h2>
    <p>{{ languageService.translate('home.about_text') }}</p>
</div>
<div class="qualities">
    <h2>{{ languageService.translate('home.qualities_title') }}</h2>
    <div class="qualities-list">
        <div class="quality">
            <h2>{{ languageService.translate('home.quality_invested_title') }}</h2>
            <p>{{ languageService.translate('home.quality_invested_text') }}</p>
        </div>
        <div class="quality">
            <h2>{{ languageService.translate('home.quality_mind_title') }}</h2>
            <p>{{ languageService.translate('home.quality_mind_text') }}</p>
        </div>
        <div class="quality">
            <h2>{{ languageService.translate('home.quality_persistent_title') }}</h2>
            <p>{{ languageService.translate('home.quality_persistent_text') }}</p>
        </div>
    </div>
</div>
<div class="Projets_part">
    <img src="./assets/Coding_picture.jpg" alt="Image Projets">
    <h2>{{ languageService.translate('home.projects_title') }}</h2>
    <p>{{ languageService.translate('home.projects_text') }}</p>
    <a class="link" routerLink="projets">{{ languageService.translate('home.projects_button') }}</a>
</div>
<div class="Parcours_part">
    <img src="../../assets/parcours.jpg" alt="Image Parcours">
    <h1>{{ languageService.translate('home.parcours_title') }}</h1>
    <p>{{ languageService.translate('home.parcours_text') }}</p>
    <a class="link" routerLink="parcours">{{ languageService.translate('home.parcours_button') }}</a>
</div>
