@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.content {
    position: absolute;
    width: 97%;
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3%;

    background: linear-gradient(135deg, rgb(10, 25, 47), rgb(8, 31, 184));
    background-size: 400% 400%;
    animation: waveMove 6s infinite linear;
    @keyframes waveMove {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    @keyframes neonGlow {
        0%, 100% {
            text-shadow: 0 0 10px rgba(0, 255, 238, 0.8), 0 0 20px rgba(0, 255, 238, 0.6);
        }
        50% {
            text-shadow: 0 0 20px rgba(0, 255, 238, 1), 0 0 40px rgba(0, 255, 238, 0.8);
        }
    }

    .cursor {
        position: relative;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        // font-size: 30px;
        white-space: nowrap;
        text-shadow: 0 0 15px rgba(0, 255, 238, 0.8);
        overflow: hidden;
        transform: translateY(-50%);
        animation: neonGlow 1.5s infinite alternate ease-in-out;
        // position: relative;
        // width: 24em;
        // margin: 0 auto;
        // border-right: 2px solid rgba(255,255,255,.75);
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 80px;
        color: rgb(3, 249, 249);
        // text-transform: uppercase;
        // white-space: nowrap;
        -webkit-text-stroke: 1px rgb(0, 255, 234);
        // transform: translateY(-50%);
    }
    .typewriter-animation {
        animation: 
        typewriter 5s steps(50) 1s 1 normal both, 
        blinkingCursor 500ms steps(50) infinite normal;
    }
    @keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
    }
    @keyframes blinkingCursor{
        from { border-right-color: rgba(255,255,255,.75); }
        to { border-right-color: transparent; }
    }

    p {
        font-size: 30px;
        font-style: italic;
        color: rgb(3, 249, 249);
        animation: neonGlow 1.5s infinite alternate ease-in-out;
        opacity: 0.8;
    }
}

.presentation {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 100%; height: 800px;
    border-top: 2px solid aqua;
    border-bottom: 2px solid aqua;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(135deg, #0a1f44, #0d47a1);
    img {
        position: absolute;
        width: 45%; height: 100%;
    }
    h2 {
        color: rgb(0, 255, 238);
        text-shadow: 0 0 20px rgba(0, 255, 238, 0.8);
        font-size: 70px;
        position: relative;
        left: 63%;
    }
    p {
        color: white;
        font-size: 45px;
        opacity: 0.9;
        position: relative;
        left: 50%;
        width: 45%;
        top: 5%;
    }
}

.qualities {
    position: relative;
    z-index: 1;
    margin-top: 1900px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: rgb(0, 255, 238);
        text-shadow: 0 0 20px rgba(0, 255, 238, 0.8);
        font-size: 100px;
        margin-bottom: 100px;
    }
}

.qualities-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quality {
    width: 20%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 50%;
    border: 3px solid rgb(0, 255, 238);
    box-shadow: 0 0 20px rgba(0, 255, 238, 0.5);
    background-color: rgb(22, 22, 160);

    h2 {
        font-size: 40px;
        margin-bottom: 10px;
        position: relative;
    }

    p {
        font-size: 30px;
        color: white;
    }
}


.Projets_part {
    background: linear-gradient(135deg, rgb(3, 15, 55), rgb(0, 36, 84), rgb(3, 249, 249));
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.6);
    width: 100%;
    position: relative;
    margin-top: 200px;
    border-radius: 15px;
    overflow: hidden;
    img {
        width: 46%;
        height: auto;
        border-radius: 10px;
    }
    h2 {
        color: rgb(0, 255, 238);
        position: absolute;
        top: 5%;
        left: 50%;
        font-size: 70px;
        text-shadow: 0 0 15px rgba(0, 255, 238, 0.8);
    }
    p {
        color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        font-size: 35px;
        opacity: 0.9;
    }
    .link {
        color: rgb(0, 255, 238);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 90%;
        left: 50%;
        font-size: 30px;
        text-shadow: 0 0 10px rgba(0, 255, 238, 0.7);
        transition: 0.3s;
        &:hover {
            color: white;
            text-shadow: 0 0 20px rgba(0, 255, 238, 1);
        }
    }
}

.Parcours_part {
    background: linear-gradient(135deg, rgb(10, 10, 50), rgb(0, 50, 120), rgb(3, 249, 249));
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.6);
    width: 100%;
    height: 59%;
    position: absolute;
    top: 1400px;
    left: 0px;
    border-radius: 15px;

    img {
        width: 45%;
        height: 100%;
        position: absolute;
        left: 55%;
        border-radius: 10px;
    }

    h1 {
        color: rgb(0, 255, 238);
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 70px;
        text-shadow: 0 0 15px rgba(0, 255, 238, 0.8);
    }

    p {
        color: white;
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 30px;
        opacity: 0.9;
    }

    .link {
        color: rgb(0, 255, 238);
        position: absolute;
        top: 90%;
        left: 5%;
        font-size: 30px;
        text-shadow: 0 0 10px rgba(0, 255, 238, 0.7);
        transition: 0.3s;

        &:hover {
            color: white;
            text-shadow: 0 0 20px rgba(0, 255, 238, 1);
        }
    }
}
