<div class="content">
    <h1 class="cursor typewriter-animation">BIENVENUE SUR MON PORTFOLIO</h1>
    <p>Ne jamais laisser tomber, même dans les moments les plus durs</p>
</div>
<div class="presentation">
    <img src="../../assets/Profile_picture.jpg" alt="Profile picture">
    <h2>QUI SUIS-JE ?</h2>
    <p>Développeur avec plus de 4 ans d'expérience en développement informatique,<br>
        spécialisé en front-end et intéressé par le développement de jeux vidéo. Motivé,<br>
        rigoureux et à l'écoute, je suis toujours prêt à relever de nouveaux défis.<br>
        J'aime apprendre et perfectionner mes compétences tout en partageant mon savoir <br>
        et mon expertise avec les autres.</p>
</div>
<div class="qualities">
    <h2>Mes qualités</h2>
    <div class="qualities-list">

        <div class="quality">
            <h2>INVESTI</h2>
            <p>Je mets beaucoup d'efforts et d'attention dans mon travail</p>
        </div>
        <div class="quality">
            <h2>VIF D'ESPRIT</h2>
            <p>J'assimile rapidement les nouvelles informations, 
                ce qui me permet d'être efficace et performant <br>
                dans mon travail.
            </p>
        </div>
        <div class="quality">
            <h2>PERSÉVÉRANT</h2>
            <p>Je ne renonce pas si facilement,<br>
                je continue à travailler malgré<br>
                les difficultés, les obstacles<br>
                ou les échecs.</p>
        </div>
    </div>
</div>
<div class="Projets_part">
    <img src="../../assets/Coding_picture.jpg" alt="Image Projets">
    <h2>PROJETS</h2>
    <p>Dans cette partie, vous trouverez tous les projets que j'ai réalisé
        pour que vous ayez un aperçu de mes compétences dans le développement informatique,
        dans différents domaines qui sont le développement web et le développement
        de jeux vidéos, avec les différents langages de programmations que j'ai utilisé sur
        ces différents projets.</p>
    <a class="link" routerLink="projets">Vers la page Projets</a>
</div>
<!-- <div class="Parcours_part">
    <img src="../../assets/parcours.jpg" alt="Image Parcours">
    <h1>PARCOURS</h1>
    <p>Venez découvrir mon parcours professionel, les années que j'ai passé<br> au sein
        de mon école actuel, qui est, EPITECH. Vous découvrirez<br> aussi mon expérience
        en tant que stagiaire au sein d'une entreprise<br> à l'étranger en télétravail.
    </p>
    <a class="link" routerLink="parcours">Vers la page Parcours</a>
</div> -->
